name: SailfishOS build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types:
      - published

jobs:
  clang-format-checking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: RafikFarhad/clang-format-github-action@v1
        with:
          sources: "src/**/*.h,src/**/*.c,test/**/*.c"

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Prepare
      run: mkdir output

    - name: Build armv7hl
      id: build_armv7hl
      uses: bionade24/github-sfos-build@master
      with:
        release: 4.4.0.58

    - name: Build aarch64
      id: build_aarch64
      uses: bionade24/github-sfos-build@master
      with:
        release: 4.4.0.58
        arch: aarch64

    - name: Build i486
      id: build_i486
      uses: bionade24/github-sfos-build@master
      with:
        release: 4.4.0.58
        arch: i486

    - name: Upload build result
      uses: actions/upload-artifact@v2
      with:
        name: rpms
        path: RPMS

    - name: Upload release assets
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: RPMS/*
